:root {
  --primary-font: 'Raleway', sans-serif;
  --number-font: 'Wix Madefor Text', sans-serif;
  --accent-color: #60f3d3f0;
  --main-font-color: #333333;
  --second-font-color: #BDBDBD;
  --light-font-color: #FFFFFF;
  --form-font-color: #8D8D8D;
  --light-background-color: #FFFFFF;
  --dark-background-color: #2C2C2C;
  --button-dark-background-color: #333333;
}
